// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #FFFFFF !default; //首页顶部字体白色
$header-bg-color: #2269fe !default; //首页顶部背景颜色
$header-bg-color-secondary: #97b9ff !default; //首页顶部二级颜色

// Text
$section-headings-color: #3677fe !default; //标题颜色，默认蓝色#1e6bb8
$body-text-color: #606c71 !default; //正文文字颜色？
$body-link-color: #01a9ce !default; //超链接颜色
$blockquote-text-color: #819198 !default; //引用文字颜色，默认#819198

// Code
$code-bg-color: #f3f6fa !default; //代码背景色
$code-text-color: #567482 !default; //代码字体颜色

// Borders
$border-color: #dce6f0 !default; //表格颜色
$table-border-color: #e9ebec !default; //表格框线颜色
$hr-border-color: #eff0f1 !default;
